*.o
*.la
*.lo

.deps/
.libs/
*/Makefile
Makefile
bessel_wrap/Makefile
bessel_wrap/toms644/.libs/
bessel_wrap/toms644/Makefile
check/Makefile
config.h
config.log
config.status
guile/.deps/
guile/.libs/
guile/Makefile
guile/include_libbessels.scm
libtool
stamp-h1

python/build
python/_libbessel*
python/libbessel_wrap.c
