*.o
*.la
*.lo
*~

INSTALL
m4
aclocal.m4
compile
depcomp
install-sh
ltmain.sh
missing
config.guess
config.sub
configure
.deps/
.libs/
*/Makefile
Makefile
Makefile.in
*/Makefile.in
bessel_wrap/Makefile
bessel_wrap/toms644/.libs/
bessel_wrap/toms644/Makefile
check/Makefile
config.h.in
config.h
config.log
config.status
guile/.deps/
guile/.libs/
guile/Makefile
guile/include_libbessels.scm
libtool
stamp-h1
autom4te.cache/
*/.dirstamp
*/*/.dirstamp

python/build
python/_libbessel*
python/libbessel_wrap.c
python/libbessel.py
python/__pycache__
